.match-list {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: center; 
}

.match-card {
  flex: 1 1 calc(33.333% - 40px); 
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

.match-card:hover {
  background-color: #f0f0f0;
}

.team {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 5px; 
}

.team img {
  width: 50px; 
  height: 50px;
}

.result {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.team-name {
  text-align: center;
}
