header {
    background-color: #003366;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  main {
    padding: 20px;
    margin-bottom: 60px; 
  }
  .clickable {
    cursor: pointer;
  }
  
  .clickable:hover {
    color: #007bff; 
  }
  